//given the body style
body{
    background-color: black;
    color: white;
    text-align: center;
   
}

// main container
.Main-box{
    display: flex;
    justify-content: center;
} 

// all buttons 
.btn {
    height: 200px;
    width: 200px;
    border-radius:15%;
    border: 7px solid white;
    margin: 2rem;
}

// buttons color 

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}
.yello{
    background-color: yellow;
}
.green{
    background-color: green;
}
